<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización de Automóviles</title>
    <style>
    #cotizacionForm {
            width: 48%;
            display: flex;
            flex-direction: column;
        }

        .calcularButton,
        .limpiarButton {
            background-color: #156e80; 
            color: white; 
            padding: 10px 15px;
            margin: 2%;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .calcularButton:hover,
        .limpiarButton:hover {
            background-color: #6b9ea2;
        }

        .input-group {
            margin-bottom: 10px;
        }

        label {
            margin-bottom: 5px;
        }

        input, select {
            width: 35%;
            padding: 8px;
            box-sizing: border-box;
        }

        #resultSection {
            width: 48%;
            padding: 10px;
            background-color: #0c404a;
            border: 1px solid #a8d7aa;
            border-radius: 5px;
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body>
    <header>
        <hr>
        <center>
            <h2>Toyota Mazatlán</h2>
        </center>
    </header>
    <hr>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>

    <section>
        <br>
        <div class="container">
            <form action="/practicas/cotizacion" method="post" id="cotizacionForm">
                <div class="input-group">
                    <label for="numFolio"></label>
                    <input type="text" id="numFolio" name="numFolio" placeholder="Número de Folio" required>
                </div>
                <div class="input-group">
                    <label for="descripcion"></label>
                    <input type="text" id="descripcion" name="descripcion" placeholder="Descripción del Automóvil" required>
                </div>
                <div class="input-group">
                    <label for="precio"></label>
                    <input type="text" id="precio" name="precio" placeholder="Precio" required>
                </div>
                <div class="input-group">
                    <label for="porcentajeInicial"></label>
                    <input type="text" id="porcentajeInicial" name="porcentajeInicial" placeholder="Porcentaje de Pago Inicial" required>
                </div>
                <select id="plazo" name="plazo" required>
                    <option value="" disabled selected hidden>Plazo</option>
                    <option value="12">12 meses</option>
                    <option value="24">24 meses</option>
                    <option value="36">36 meses</option>
                    <option value="48">48 meses</option>
                </select>
                <br>
                <button type="submit" class="calcularButton">Calcular Cotización</button>
                <button type="button" class="limpiarButton" onclick="limpiarResultados()">Limpiar</button>
            </form>
        </div>
    </section>
    <br>
    <section>
        <div class="container">
            <% if (typeof error !== 'undefined' && error !== null && error !== '') { %>
                <p style="color: red;"><%= error %></p>
            <% } %>
            <div id="resultSection">
                <h4>Resultados De La Cotizacion</h4>
                <p id="pagoInicial">Pago Inicial: $<%= typeof pagoInicial !== 'undefined' ? pagoInicial.toFixed(2) : '' %></p>
                <p id="totalFinanciar">Total a Financiar: $<%= typeof totalFinanciar !== 'undefined' ? totalFinanciar.toFixed(2) : '' %></p>
                <p id="pagoMensual">Pago Mensual: $<%= typeof pagoMensual !== 'undefined' ? pagoMensual.toFixed(2) : '' %></p>
            </div>            
        </div>
    </section>
    <br>
    <script>
        function limpiarResultados() {
            // Limpiar los resultados
            document.getElementById("pagoInicial").innerText = "Pago Inicial: $";
            document.getElementById("totalFinanciar").innerText = "Total a Financiar: $";
            document.getElementById("pagoMensual").innerText = "Pago Mensual: $";
    
            // Limpiar los campos del formulario
            document.getElementById("cotizacionForm").reset();
        }
    </script>
    <%- include('partials/footer.ejs') %>
    <%
function validarFormularioCode() {
    %>
    var precio = parseFloat(document.getElementById("precio").value);
    var porcentajeInicial = parseFloat(document.getElementById("porcentajeInicial").value);

    if (isNaN(precio) || isNaN(porcentajeInicial) || precio < 0 || porcentajeInicial < 0) {
        alert("Por favor, ingrese valores válidos en los campos. No se permiten números negativos.");
        return false;
    }

    if (porcentajeInicial > 100) {
        alert("El porcentaje de pago inicial no puede superar el 100%.");
        return false;
    }

    return true;
    <%
}
%>
</body>
</html>
