<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Prácticas C2</title>
    </head>
    <body>
        <style>
        .main-container {
            padding: 20px;
            gap: 20px;
            font-size: 18px;
            line-height: 2rem;
        }
        </style>
        <%- include('partials/header.ejs') %>

        <%- include('partials/nav.ejs') %>
        
        <div class="main-container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, vero? Ea non praesentium reiciendis dolore alias culpa commodi adipisci? Ea repellat deleniti praesentium atque omnis cum dolore laboriosam temporibus molestiae?
                Aspernatur laudantium porro excepturi sed tempora debitis quaerat, aliquid itaque deleniti saepe veritatis officiis quibusdam ut sunt quis sapiente suscipit? Praesentium laudantium molestiae unde voluptatem? Voluptatibus magni earum non quo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos cum assumenda iure hic, beatae vitae fugit labore ratione libero doloremque corporis maiores deleniti sint, nulla tempore velit repellendus magnam est.
            </p>
        </div>

        <%- include('partials/footer.ejs') %>
    </body>
</html>
