<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplicar</title>
</head>
<body>
    <header>
        <hr>
        <center>
            <h2>Tabla de Multiplicar</h2>
        </center>
    </header>
    <hr>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <section>
        <br>
        <form action="/practicas/tabla" method="post" id="tablaForm">
            <label for="numero">Tabla</label>
            <input type="number" id="numero" name="numero" value="<%= numero %>" required>
            <button type="submit">Enviar Informacion</button>
            <button type="button" onclick="limpiarInput()">Limpiar</button>
            <section id="resultSection">
                <% let res = 0;
                if (numero != null) {
                    for (con = 1; con <= 10; ++con) {
                        res = numero * con;
                %>
                        <h3><%= numero %> * <%= con %> = <%= res %></h3>
                <%
                    }
                }
                %>
            </section>
        </form>
    </section>
    <br>
    <%- include('partials/footer.ejs') %>
    <script>
        function limpiarInput() {
            document.getElementById('numero').value = '';
            var resultSection = document.getElementById('resultSection');
            if (resultSection) {
                resultSection.innerHTML = '';
            }
        }
    </script>
</body>
</html>
