<style>
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
</style>

<center>
    <footer class="footer bg-dark">
        <div class="container">
            <span>@Todos los derechos reservados por José Manuel González Ramírez</span>
        </div>
    </footer>
</center>
