<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Sitio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <div>
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Index</a>
                    <a href="/practicas/" class="nav-link">Prácticas</a>
                    <a href="/preexamen1/" class="nav-link">Preexamen C2</a>
                    <a href="/ExamenC2" class="nav-link">Examen C2</a>
                </div>
            </div>
        </div>
    </nav>
    
    