<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: 'Arial', sans-serif;
                margin: 0;
                padding: 0;
                color: #fff;
            }
    
            form {
                display: flex;
                flex-direction: column;
            }
    
            .form-group {
                margin-bottom: 15px;
            }
    
            label {
                font-weight: bold;
                margin-bottom: 5px;
                display: block;
            }
    
            input,
            select {
                width: 100%;
                padding: 10px;
                border: 1px solid #2c3e50;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 5px;
                font-size: 16px;
            }
    
            select {
                appearance: none;
            }
    
            .btnContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
            }
    
            .btn {
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
            }
    
            .btn-primary {
                background-color: #e74c3c;
                color: #fff;
            }
    
            .btn-secondary {
                background-color: #2c3e50;
                color: #fff;
            }
        </style>
        <title>PreExamen</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <section class="container">
                <form action="/preexamen1/pago" method="post" onsubmit="return validateForm()" class="form-container" id="myForm">

                <div class="form-group">
                    <label for="numero-recibo">Número de recibo</label>
                    <input type="number" name="numero-recibo" id="numero-recibo" required />
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required />
                </div>
                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" required />
                </div>
                <div class="form-group">
                    <label for="tipoServicio">Tipo de servicio</label>
                    <select name="tipoServicio" id="tipoServicio">
                        <option value="Domestico">Domestico</option>
                        <option value="Comercial">Comercial</option>
                        <option value="Industrial">Industrial</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="kw">Kilowatts consumidos</label>
                    <input type="number" name="kw" id="kw" required />
                </div>
                <div class="btnContainer">
                    <button class="btn btn-primary">Enviar información</button>
                    <a class="btn btn-secondary" href="#" onclick="limpiarFormulario()">Limpiar</a>
                </div>
            </form>
        </section>
        <br>
        <%- include('partials/footer') %>
        <script>
            function validateForm() {
                const numeroRecibo = document.getElementById('numero-recibo');
                const kw = document.getElementById('kw');
            
                if (numeroRecibo.value <= 0) {
                    alert("El número del recibo debe ser un valor mayor a 0.");
                    return false;
                }
                else if (kw.value < 0) {
                    alert("Los KW no pueden ser menores a 0.");
                    return false;
                }
                return true;
            }
            
            function limpiarFormulario() {
                document.getElementById('myForm').reset();
            }
            </script>
    </body>
</html>
