<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: 'Arial', sans-serif;
                margin: 0;
                padding: 0;
                color: #fff;
            }
    
            .main {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                place-items: center;
                width: max(300px, 80%);
                box-shadow: 0px 0px 10px 0px Black;
                margin: 20px auto;
                padding: 30px;
            }
    
            hr {
                border: 1px solid #2c3e50;
                margin: 20px 0;
            }
    
            .prices {
                max-width: 400px;
                margin: 0 auto;
                background-color: #2c3e50;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
    
            .price-group {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
            }
    
            .price-group p {
                margin: 0;
            }
    
            .price-group b {
                font-weight: bold;
            }
        </style>
        <title>PreExamen</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <%
        const currentPricePerKw = 'Domestico' === tipoServicio ? 1.08 : 'Comercial' === tipoServicio ? 2.5 : 'Industrial' === tipoServicio ? 3 : '';
        const subtotal = (kw * currentPricePerKw).toFixed(2);
        const impuesto = (subtotal * 0.16).toFixed(2);

        const discountPercentage = kw <= 1000 ? 0.10 : kw <= 10000 ? 0.20 : 0.50;
        const descuento = (subtotal * discountPercentage).toFixed(2);

        const total = (Number(subtotal) + Number(impuesto) - Number(descuento)).toFixed(2);
        %>

        <section class="main">
            <div class="main-group">
                <p><b>Nombre</b></p>
                <p><%= nombre %></p>
            </div>
            <div class="main-group">
                <p><b>Tipo de servicio</b></p>
                <p><%= tipoServicio %></p>
            </div>
            <div class="main-group">
                <p><b>Kilowatts consumidos</b></p>
                <p><%= kw %></p>
            </div>
            <div class="main-group">
                <p><b>Costo por kilowatts</b></p>
                <p><%= currentPricePerKw %></p>
            </div>
        </section>

        <section class="prices">
            <div class="price-group">
                <p>Subtotal:</p>
                <p><%= subtotal %></p>
            </div>
            <div class="price-group">
                <p>Impuesto:</p>
                <p><%= impuesto %></p>
            </div>
            <div class="price-group">
                <p>Descuento:</p>
                <p><%= descuento %></p>
            </div>
            <div class="price-group">
                <p><b>Total a pagar:</b></p>
                <p><b><%= total %></b></p>
            </div>
        </section>
        <br>
        <%- include('partials/footer') %>
    </body>
</html>

