<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Sitio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <div>
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Volver</a>
                    <a href="/ExamenC2/" class="nav-link">Formulario de Pago</a>
                    <a href="/ExamenC2/detalles" class="nav-link">Detalles de Pago</a>
                </div>
            </div>
        </div>
    </nav>    
</body>
</html>