<style>
    .footer {
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
</style>

<footer class="footer bg-dark">
    <span class="text-light">Todos los derechos reservados @ José Manuel González Ramírez</span>
</footer>
