<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mi Sitio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div class="navbar-nav">
            <a href="/" class="nav-link">Volver</a>
            <a href="/preexamen1/" class="nav-link">Acerca de</a>
            <a href="/preexamen1/pago" class="nav-link">Pago de Recibo</a>
            <a href="/preexamen1/contacts" class="nav-link">Contactos</a>
        </div>
    </div>
</nav>
